<!-- views/admin/admin_page.ejs -->
<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Адмін панель</title>
  <link rel="stylesheet" href="/style/admin_page.css">
</head>
<body>
  <header>
    <%- include('header') %>
  </header>
  
  <h1 style="margin-top: 50px;">Адмін панель</h1>

  <h2>Створення нового вчителя</h2>
  <form action="/create-user" method="POST">
    <input type="hidden" name="role" value="teacher">

    <label>Імʼя:</label>
    <input type="text" name="name" required>

    <label>Прізвище:</label>
    <input type="text" name="surname" required>

    <label>Номер телефону:</label>
    <input type="tel" name="phone" required>

    <label>Електронна пошта:</label>
    <input type="email" name="email" required>

    <label>Пароль:</label>
    <input type="password" name="password" required>

    <button type="submit">Створити вчителя</button>
  </form>

  <a  href="/create-lesson">Перейти до створення уроку</a>

  <!-- Форма редагування ціни та опису LessonPlan -->
  <h2>Редагування плану уроку</h2>
  <form action="/update-lesson-plan" method="POST">
    <label>Виберіть план уроку:</label>
    <select name="lessonPlanId" id="lessonPlanSelect" required>
      <option value="" disabled selected>Оберіть план</option>
      <% lessonPlans.forEach(plan => { %>
        <option value="<%= plan._id %>"><%= plan.title %></option>
      <% }) %>
    </select>

    <label>Ціна:</label>
    <input type="number" name="price" id="price" required>

    <label>Опис:</label>
    <textarea name="description" id="description"></textarea>

    <label>Детальний опис:</label>
    <textarea name="detailedDescription" id="detailedDescription"></textarea>


    <button type="submit">Зберегти зміни</button>
  </form>


  <h2>Редагування контактів (оберіть соцмережу та введіть посилання/номер)</h2>
<form action="/update-single-contact" method="POST">
  <label for="contactType">Оберіть контакт:</label>
  <select name="contactType" id="contactType" required>
    <option value="" disabled selected>Оберіть соцмережу або телефон</option>
    <option value="instagram">Instagram</option>
    <option value="tiktok">TikTok</option>
    <option value="facebook">Facebook</option>
    <option value="telegram">Telegram</option>
    <option value="whatsapp">WhatsApp</option>
    <option value="viber">Viber</option>
    <option value="phoneNumber">Телефон</option>
  </select>

  <label for="contactValue">Введіть посилання або номер:</label>
  <input type="text" name="contactValue" id="contactValue" required placeholder="Введіть посилання або номер" />

  <button type="submit">Оновити контакт</button>
</form>


  <form action="/logout" method="POST" class="logout-form">
    <button type="submit">Вийти з акаунту</button>
  </form>

</body>
</html>
