<link rel="stylesheet" href="/style/header.css">
<div id="left_group">
  <a href="/"><img id="mainLogoImg" height="70px" width="70px" src="/img/MainLogo.png" alt="Логотип"></a>
</div>

<div class="center-zone">
  <nav id="NaviLinks">
      <a href="/about_us">ПРО НАС</a>
      <a href="#">УРОКИ</a>
      <a href="#">ВІДГУКИ</a>
      <a href="/#prises_for_lessons">ВАРТІСТЬ</a>
  </nav>
</div>

<div id="contact-profile">
  <a href="#" id="contactLink">КОНТАКТИ</a>
  <a href="/login_page"><img id="ProfileImg" height="70px" width="70px" src="/img/ProfileImg.png" alt="Профіль"></a>
</div>

<!-- Кнопка для відкриття меню на мобільних -->
<button id="menuToggle" aria-label="Відкрити меню">
  <span class="hamburger"></span>
</button>

<script src="/js/header_animations.js"></script>
