<div id="scrollProgressBar"></div>
<link rel="stylesheet" href="/style/header.css">
<div id="left_group">
  <a href="/"><img id="mainLogoImg" height="70px" width="70px" src="/img/MainLogo.png" alt="Логотип"></a>
</div>

<div class="center-zone">
  <nav id="NaviLinks">
      <a href="/about_us">ПРО НАС</a>
      <a href="/lessons">УРОКИ</a>
      <a href="/feedbacks">ВІДГУКИ</a>
      <a href="/#prises_for_lessons">ВАРТІСТЬ</a>
  </nav>
</div>

<div id="contact-profile">
  <a href="#footer-content" id="contactLink">КОНТАКТИ</a>
  <!-- Перевіряємо, чи користувач авторизований -->
  <% if (user) { %>
    <!-- Якщо авторизований, показуємо ініціали або букву A для адміну -->
    <% if (user.role === 'admin') { %>
      <a href="/login_page" style="text-decoration: none;">
        <div class="profile-circle" style="background-color: #fdb446; color: white; font-size: 22px; text-decoration: none;">
          A
        </div>
      </a>
    <% } else { %>
      <a style="text-decoration: none;" href="/login_page">
        <div class="profile-circle" style="background-color: #fdb446; color: white; font-size: 22px; text-decoration: none;">
          <%= user.name.charAt(0).toUpperCase() + user.surname.charAt(0).toUpperCase() %>
        </div>
      </a>
    <% } %>
  <% } else { %>
    <!-- Якщо не авторизований, показуємо стандартну картинку -->
    <a href="/login_page"><img id="ProfileImg" height="70px" width="70px" src="/img/ProfileImg.png" alt="Профіль"></a>
  <% } %>
</div>

<!-- Кнопка для відкриття меню на мобільних -->
<button id="menuToggle" aria-label="Відкрити меню">
  <span class="hamburger"></span>
</button>

<script src="/js/header_animations.js"></script>
