<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/style/reset-code.css">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
  <title>Скидання пароля</title>
</head>
<body>
  <header>
    <%- include('header') %>
  </header>
  <div id="reset-cod-content">
    <div class="form-container">
      <h2>Скидання пароля</h2>
      <form action="/reset-code" method="POST" autocomplete="off">
    <input type="hidden" name="email" value="<%= email %>">
    
    <input type="text" name="code" placeholder="Код з email" 
           autocomplete="off" inputmode="numeric" autocorrect="off" spellcheck="false">
    
    <input type="password" name="password" placeholder="Новий пароль" 
           required autocomplete="new-password">
    
    <input type="password" name="confirmPassword" placeholder="Підтвердіть пароль" 
           required autocomplete="new-password">
    
    <button id="submit-button" type="submit">Підтвердити</button>
    <a id="backLink" href="/login_page">Назад</a>
  </form>
  
      <% if (error) { %><p class="message error"><%= error %></p><% } %>
      <% if (message) { %><p class="message success"><%= message %></p><% } %>
    </div>
  </div>
</body>
</html>
